.name
{
    margin-top: 25px;
    margin-bottom: 12px
}
.hehe
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hoho
{
    margin-left: 10px;
    margin-top: 10px;
}
.button
{
    margin-right: 10px;
}