.Login_name
{
    margin-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
}
form{
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0,2);
}
.foot
{
    padding-left: 16px;
    padding-right: 16px;
}
.hawkerspot
{
    color:#0d6efd;
}